
<h1>Upcoming events</h1>
<%@events.each do |event|%>
<h1>Event: <%=event.event_name%></h1>
<h3>Where: <%=event.location.locale%></h3>
<h5>Time: <%=event.time%></h5>
<h5>When: <%=event.date%></h5>
<%if !@user.events.include? event%>
  <form action="/events/<%=event.id%>" method="post">
    <input type="submit" name="add" value="add">
  </form>
<%end%>
<hr>
<%end%>
<a href="/homepage">Homepage</a>
