<h1><%=@event.event_name%></h1>
 <h2> Location: <%=@event.location.locale%></h2>
<h5>Time: <%=@event.time%></h5>
<h5>When: <%=@event.date%></h5>
<a href="/homepage">Homepage</a>
<a href="/events/<%=@event.id%>/edit">Edit</a>
<form method="post" action="/events/<%=@event.id%>">
  <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
