<a href="/logout">logout</a>
<a href="/events/new">Add Event</a>
<a href="/events">View All Events</a>
<a href="/homepage">Home</a>
<a href="/categories">View by category</a>

<h1><%=@event.event_name%></h1>
 <h2> Location: <a href="/locations/<%=@event.location.id%>"><%=@event.location.locale%></a></h2>
<h5>Time: <%=@event.time%></h5>
<h5>When: <%=@event.date%></h5>

<form method="post" action="/events/<%=@event.id%>">
  <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
<form method="get" action="/events/<%=@event.id%>/edit">
    <input type="submit" value="Edit">
</form>
